<!-- adicionada a classe calculadora container para a customização alinhada ao scss -->
<ion-content class="calculadora-container" [fullscreen]="true">
  <ion-grid id="container">
    <!-- Visor para exibir a memória e o resultado da calculadora -->
    <ion-row>
      <ion-col>
        <div class="visor">  <!-- criação de um conteiner div para o visor -->
          <h3 class="memoria">{{memoria}}</h3>
          <h1 class="resultado">{{resultado}}</h1>
        </div>
      </ion-col>
    </ion-row>
    <!-- novas funcionalidades (operador potência, operador número ao quadrado, operador de número com "virgula" ) -->
    <ion-row>
      <ion-col>
        <ion-button (click)="('')">:)</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="operadores('^')">x^n</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="operadores('^2')">x^2</ion-button>
      </ion-col>
      <ion-col>
        <!-- funcionalidade backspace para apagar valor digitado errado -->
        <ion-button (click)="backspace()">⌫</ion-button>
      </ion-col>
    </ion-row>
    <!-- novas funcionalidades (operador calculo de porcentagem, calculo de números negativos, calculos raiz quadrada)-->
  <ion-row>
    <ion-col>
      <ion-button (click)="operadores('%')">%</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="operadores('+/-')">+/-</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="operadores('√')">√</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="operadores('/')">/</ion-button>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="digitos('7')">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitos('8')">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitos('9')">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="operadores('+')">+</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="digitos('4')">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitos('5')">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitos('6')">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="operadores('-')">-</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="digitos('1')">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitos('2')">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitos('3')">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="operadores('*')">*</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="digitos('0')">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="resetar()">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="digitos('.')">.</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="calcular()">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
